
table.path {
    border-collapse: collapse;
    border:solid black 2px;
    border-radius:6px;
    margin: auto;
}

td.path {
  height: min(4vh, 1.5vw) !important;
  width: min(4vh, 1.5vw) !important; ;
  min-width: min(4vh, 1.5vw) !important;
  max-width: min(4vh, 1.5vw) !important;
  min-height: min(4vh, 1.5vw) !important;
  max-height: min(4vh, 1.5vw) !important;
  border: 1px solid #CCC;
  outline: none;
  font-size: 0px;
}

.icon-path {
  height: min(3.9vh, 1.4vw) !important;
  width: min(3.9vh, 1.4vw) !important; ;
  min-width: min(3.9vh, 1.4vw) !important;
  max-width: min(3.9vh, 1.4vw) !important;
  min-height: min(3.9vh, 1.4vw) !important;
  max-height: min(3.9vh, 1.4vw) !important;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  height: 100vh;
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cell {
  background-color: white;
  border: 1px solid #ccc;
}
