@font-face {
    font-family: 'Monomania';
    src: url('../src/assets/fonts/MonomaniacOne-Regular.ttf') format('truetype');
    /* Add additional font formats and styles as needed */
}

h1 {
    font-family: 'Monomania';
    text-align: center;
}

.fotter {
    box-shadow: 12px 12px 12px 12px rgba(0,0,0,.09), 4px 4px 4px rgba(0,0,0,.09);
}

.no-scroll {
    overflow: hidden;
}

.myCard {
    box-shadow: 12px 12px 12px 12px rgba(0,0,0,.09), 4px 4px 4px rgba(0,0,0,.09);
    border-radius: 10px;
    z-index: 1;
    position: relative;
    max-width: fit-content;
}

/* Define the animation styles */
@keyframes pageTransition {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animation to the container */
.pageContainer {
  animation: pageTransition 0.3s ease-in-out;
}

h1, h2, h3 ,h4, h5, h6{
    font-family: 'Monomania';
    box-sizing: border-box;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}